<section>
    <div class="row">
        <div class="col-lg-4 col-md-auto ml-auto">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-title text-center mt-3">
                            <h3>Hızlı Ürün Ekle</h3>
                        </div>
                        <div class="card-body">
                            # <form action="{% url 'quickadd' %}" method="post" enctype="multipart/form-data">

                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="productname">Ürün adı:</label>
                                    {{ form.product_name }}
                                    <div class="invalid-feedback">Product Name Can't Be Empty</div>
                                </div>
                                <div class="form-group">
                                    <label for="productid">Stok Miktarı:</label>
                                    {{ form.stock_quantity }}
                                    <div class="invalid-feedback">Product ID Can't Be Empty</div>
                                </div>
                                <div class="form-group">
                                    <label for="productprice">Maaliyet:</label>
                                    {{ form.cost }}
                                    <div class="invalid-feedback">Product Price Can't Be Empty</div>
                                </div>
                                <div class="form-group">
                                    <label for="productprice">Satış Fiyatı:</label>
                                    {{ form.selling_price }}
                                    <div class="invalid-feedback">Product Price Can't Be Empty</div>
                                </div>
                                <div class="form-group">
                                    <label for="productprice">Birimi:</label>
                                    {{ form.unit }}
                                    <div class="invalid-feedback">Product Price Can't Be Empty</div>
                                </div>
                                <div class="form-group">
                                    <label for="productprice">Ürün Grubu:</label>
                                    {{ form.category }}
                                    <div class="invalid-feedback">Product Price Can't Be Empty</div>
                                </div>
                                <div class="form-group">
                                    <label for="productprice">Hızlı Satış:</label>
                                    {{ form.quick_sale }}
                                    <div class="invalid-feedback">Product Price Can't Be Empty</div>
                                </div>
                                <div class="form-group">
                                    <label for="productprice">Kdv Oranı:</label>
                                    {{ form.kdv_rate }}
                                    <div class="invalid-feedback">Product Price Can't Be Empty</div>
                                </div>
                                <p>Ürün Resmi:</p>
                                <div class="custom-file">
                                    {{ form.product_image }}
                                    <label class="custom-file-label" for="productimage">Choose file...</label>
                                    <div class="invalid-feedback">File Format Not Supported</div>
                                </div>
                                <button class="btn btn-dark mt-5 mx-auto d-block" type="submit">Ekle</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
