<section>
    <div class="row">
        <div class="col-lg-4 col-md-auto ml-auto">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-title text-center mt-3">
                            <h3>Hızlı Ürün Ekle</h3>
                        </div>
                        <div class="card-body">
                            <form action="#" method="post" enctype="multipart/form-data">

                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="product_name">Ürün adı:</label>
                                    <input type="text" class="form-control" id="productname"
                                                placeholder="Ürün Adı Giriniz.">
                                    {{ form.product_name }}
                                    <div class="invalid-feedback">Product Name Can't Be Empty</div>
                                </div>
                                <div class="form-group">
                                    <label for="stock_quantity">Stok Miktarı:</label>
                                    <input type="text" class="form-control" id="stokadet"
                                                placeholder="Ürün Adedi Giriniz.">
                                    {{ form.stock_quantity }}
                                    <div class="invalid-feedback">Product ID Can't Be Empty</div>
                                </div>
                                <div class="form-group">
                                    <label for="cost">Maaliyet:</label>
                                    <input type="text" class="form-control" id="maaliyet"
                                                placeholder="Maaliyet Giriniz.">
                                    {{ form.cost }}
                                    <div class="invalid-feedback">Product Price Can't Be Empty</div>
                                </div>
                                <div class="form-group">
                                    <label for="selling_price">Satış Fiyatı:</label>
                                    <input type="text" class="form-control" id="satisfiyat"
                                                placeholder="Satış Fiyatı Giriniz">
                                    {{ form.selling_price }}
                                    <div class="invalid-feedback">Product Price Can't Be Empty</div>
                                </div>
                                <div class="form-group">
                                    <label for="unit">Birimi:</label>
                                    <input type="text" class="form-control" id="parabirim"
                                                placeholder="Para Birimi Seçiniz.">
                                    {{ form.unit }}
                                    <div class="invalid-feedback">Product Price Can't Be Empty</div>
                                </div>
                                <div class="form-group">
                                    <label for="category">Ürün Grubu:</label>
                                    <input type="text" class="form-control" id="ürüngrubu"
                                                placeholder="Ürün Kategorisi Seçiniz.">
                                    {{ form.category }}
                                    <div class="invalid-feedback">Product Price Can't Be Empty</div>
                                </div>
                                <div class="form-group">
                                    <label for="quick_sale">Hızlı Satış:</label>
                                    <input type="text" class="form-control" id="hizlisatis"
                                                placeholder="Enter Product Name">
                                    {{ form.quick_sale }}
                                    <div class="invalid-feedback">Product Price Can't Be Empty</div>
                                </div>
                                <div class="form-group">
                                    <label for="kdv_rate">Kdv Oranı:</label>
                                    <input type="text" class="form-control" id="kdvrate"
                                                placeholder="Enter Product Name">
                                    {{ form.kdv_rate }}
                                    <div class="invalid-feedback">Product Price Can't Be Empty</div>
                                </div>
                                <p>Ürün Resmi:</p>
                                <div class="custom-file">
                                    {{ form.product_image }}
                                    <label class="custom-file-label" for="productimage">Choose file...</label>
                                    <div class="invalid-feedback">File Format Not Supported</div>
                                </div>
                                <button class="btn btn-dark mt-5 mx-auto d-block" type="submit">Ekle</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
